 --extra-index-url https://packages.dea.ga.gov.au/
aiohttp
aiobotocore[boto3,awscli]==1.0.7
pyyaml
wget
requests
SQLAlchemy==1.4.54
datacube==1.8.19
odc-dscache
odc-io
odc-geo

# Jupyter components.
gdal
#numpy==1.24
scipy
tqdm

# for tests
pytest
testbook
fastapi[standard]
aiofiles
terracotta==0.7.5
pymysql
cryptography
pyjwt
